body{
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    text-align: center;
}
main{
    flex: 1;
    box-sizing: content-box;
    padding:10px;
}
footer{
    background-color: black;
    text-align:center;
    color: white;
}